body{
	margin:0;
    font-family: Arial, sans-serif;       
}
header{
	width: 100%;

}
header div{
	display: flex;
	flex-direction: row;
	justify-content:center;
	flex-wrap: wrap;
}
header div img{
	width:200px;
	height: 200px;
	border: 5px solid black;
	border-radius: 50%;
	margin-right: 150px;
}
.nom{
	display: flex;
	flex-direction: column;
	justify-content:space-around;
	flex-wrap: wrap;
	margin: 0;
}

nav ul {
   list-style-type: none;
   display: flex;
   justify-content: center;
   background: #4f646f;
   padding: 15px;
   margin: 0;
}
nav ul a {
	color: white;
	text-decoration: none;
	padding: 15px;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    background-color:#f4f4f4;
    border-bottom: 8px solid #4f646f;
}
.boite{
	width: 30%;
	height: 200px;
	border: 2px solid #4f646f;
	background-color: #4f646f;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	margin:5px;
}
.sousboite{
	width: 90%;
	height: 80%;
	margin: 0 auto;
	border-radius: 5px;
	background-color: white;
}
.contact{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.contact input, 
.contact textarea {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    width: 80%;
}

.contact button {
    background: #4f646f;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items:center;
	background-color: #4f646f;
}

footer div img{
 width: 32px;
 margin: 5px;
}